# [NC]: non case sensitive, cusTom, CuStOmm or just custom - doesn't matter then
# [L]: last rule a specific condition will match

Header set Access-Control-Allow-Origin "*"

<ifModule mod_rewrite.c>

    RewriteEngine on

    # Remove "includeSubDomains" if you don't want to enforce HSTS on all subdomains
    Header always set Strict-Transport-Security "max-age=31536000;includeSubDomains"

</ifModule>

# directory browsing
Options All -Indexes

# custom error pages
ErrorDocument 500 /error.php
ErrorDocument 401 /error.php
ErrorDocument 404 /error.php
RewriteRule ^oops(|)$ error.php

# force https
RewriteCond %{HTTP_HOST} !^localhost [NC]
RewriteCond %{REMOTE_ADDR} !^127\.0\.0\.1$
RewriteCond %{HTTPS} !on
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}

# force www.
RewriteCond %{HTTP_HOST} ^meintatenreich\.de [NC]
RewriteRule ^(.*)$ https://www.meintatenreich.de/$1 [R=301,NC,L]

# pretty urls
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteRule ^([^.]+)$ $1.php [NC,L]

# remove trailing slashes
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} /(.*)/$
RewriteRule ^ /%1 [R=301,L]

# dynamic sites
RewriteRule ^ajax/(.*) assets/dynamics/$1 [NC,L]

# courses
RewriteRule ^course/(.*)$ courses/index.php?cid=$1 [NC,L]

# customers
RewriteRule ^my/(.*) customers/$1 [NC,L]
RewriteRule ^bills/(..*)$ customers/bills.php?bid=$1 [NC,L]
RewriteRule ^sepa/(..*)$ customers/sepa.php?pmid=$1 [NC,L]

# productview
RewriteRule ^product/(.*)$ productview.php?artnr=$1 [NC,L]

# ADMIN PAGE
RewriteRule ^_coffee_corner_/black(.*) housekeeping/index.php [NC,L]
RewriteRule ^_coffee_corner_/(.*) housekeeping/$1 [NC,L]
RewriteRule ^_magic_/ajax/(.*) housekeeping/assets/dynamics/$1 [NC,L]

# ----------------------------------------------------------------------


# OLD REMOVE PLEASE <> ALL
RewriteRule ^x-adminauthprogress(|/)$ K4Bzb5RM72YpGGC.phps

RewriteRule ^verify(|/)$ verify.php
RewriteRule ^newpassword(|/)$ verify.password.php
RewriteRule ^search(|/)$ search.php
RewriteRule ^maintenance(|/)$ maintenance.php


# AP: JS GET => Elements #
RewriteRule ^hk/get/elements/manage/products/addimage(|/)$ housekeeping/assets/dynamics/elements/manage/products/add.image.php
RewriteRule ^hk/get/elements/manage/courses/date(|/)$ housekeeping/assets/dynamics/elements/manage/courses/date.php

# AP: JS GET #
RewriteRule ^hk/get/overview/all(|/)$ housekeeping/assets/dynamics/content/overview/all.php
RewriteRule ^hk/get/overview/all/orders(|/)$ housekeeping/assets/dynamics/content/overview/filter/orders.php
RewriteRule ^hk/get/overview/all/customers(|/)$ housekeeping/assets/dynamics/content/overview/filter/customers.php
RewriteRule ^hk/get/overview/all/ratings(|/)$ housekeeping/assets/dynamics/content/overview/filter/ratings.php

# AP: JS GET, MANAGE => Orders #
RewriteRule ^hk/get/overview/messages(|/)$ housekeeping/assets/dynamics/content/overview/messages/got.sent.php

# AP: JS GET, MANAGE => Orders #
RewriteRule ^hk/get/manage/orders/order(|/)$ housekeeping/assets/dynamics/content/manage/orders/manage.order.php

# AP: JS GET, MANAGE => Customers #
RewriteRule ^hk/get/manage/customers/sendcustommail(|/)$ housekeeping/assets/dynamics/content/manage/customers/send.custom.mail.php
RewriteRule ^hk/get/manage/customers/overview(|/)$ housekeeping/assets/dynamics/content/manage/customers/overview.php
RewriteRule ^hk/get/manage/customers/orders(|/)$ housekeeping/assets/dynamics/content/manage/customers/orders.php

# AP: JS GET, MANAGE => Courses #
RewriteRule ^hk/get/manage/course(|/)$ housekeeping/assets/dynamics/content/manage/courses/manage.course.php
RewriteRule ^hk/get/manage/course/add(|/)$ housekeeping/assets/dynamics/content/manage/courses/add.php
RewriteRule ^hk/get/manage/course/dates(|/)$ housekeeping/assets/dynamics/content/manage/courses/manage.dates.php

# AP: JS GET, MANAGE => Products #
RewriteRule ^hk/get/manage/product/edit(|/)$ housekeeping/assets/dynamics/content/manage/products/edit.php
RewriteRule ^hk/get/manage/product/add(|/)$ housekeeping/assets/dynamics/content/manage/products/add.php
RewriteRule ^hk/get/manage/product/category/add(|/)$ housekeeping/assets/dynamics/content/manage/products/add.category.php
RewriteRule ^hk/get/manage/product/category/edit(|/)$ housekeeping/assets/dynamics/content/manage/products/edit.category.php

# AP: JS GET, FUNCTIONS => Mailer #
RewriteRule ^hk/get/func/mailer(|/)$ housekeeping/assets/dynamics/content/functions/mailer.php

# ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ #

# AP: JS FUNC, GLOBAL #
RewriteRule ^hk/ajax/global/messages(|/)$ housekeeping/assets/dynamics/cronjobs/msg.php


# AP: JS FUNC, OVERVIEW => Messages #
RewriteRule ^hk/ajax/overview/messages/actions(|/)$ housekeeping/assets/dynamics/functions/overview/messages/actions.php
RewriteRule ^hk/ajax/overview/messages/check(|/)$ housekeeping/assets/dynamics/functions/overview/messages/check.php

# AP: JS FUNC, MANAGE => Orders #
RewriteRule ^hk/ajax/manage/orders/changestatus(|/)$ housekeeping/assets/dynamics/functions/manage/orders/change.status.php
RewriteRule ^hk/ajax/manage/orders/paid(|/)$ housekeeping/assets/dynamics/functions/manage/orders/change.paid.php

# AP: JS FUNC, MANAGE => App #
RewriteRule ^hk/ajax/manage/app(|/)$ housekeeping/assets/dynamics/functions/manage/app/save.php

# AP: JS FUNC, MANAGE => Products #
RewriteRule ^hk/ajax/manage/product/edit(|/)$ housekeeping/assets/dynamics/functions/manage/products/edit.php
RewriteRule ^hk/ajax/manage/product/add/save(|/)$ housekeeping/assets/dynamics/functions/manage/products/add.php
RewriteRule ^hk/ajax/manage/product/add/uploadimage(|/)$ housekeeping/assets/dynamics/functions/manage/products/upload.image.php
RewriteRule ^hk/ajax/manage/product/edit/uploadimage(|/)$ housekeeping/assets/dynamics/functions/manage/products/edit.upload.image.php
RewriteRule ^hk/ajax/manage/product/category/add(|/)$ housekeeping/assets/dynamics/functions/manage/products/add.category.php
RewriteRule ^hk/ajax/manage/product/category/edit(|/)$ housekeeping/assets/dynamics/functions/manage/products/edit.category.php
RewriteRule ^hk/ajax/manage/product/category/edit/delete(|/)$ housekeeping/assets/dynamics/functions/manage/products/edit.delete.category.php

# AP: JS FUNC, MANAGE => Courses #
RewriteRule ^hk/ajax/manage/course/edit(|/)$ housekeeping/assets/dynamics/functions/manage/courses/edit.php
RewriteRule ^hk/ajax/manage/course/add(|/)$ housekeeping/assets/dynamics/functions/manage/courses/add.php
RewriteRule ^hk/ajax/manage/course/toggle(|/)$ housekeeping/assets/dynamics/functions/manage/courses/toggle.php
RewriteRule ^hk/ajax/manage/course/delete(|/)$ housekeeping/assets/dynamics/functions/manage/courses/delete.php
RewriteRule ^hk/ajax/manage/course/dates/add(|/)$ housekeeping/assets/dynamics/functions/manage/courses/add.date.php
RewriteRule ^hk/ajax/manage/course/dates/delete(|/)$ housekeeping/assets/dynamics/functions/manage/courses/delete.date.php

# AP: JS FUNC, FUNCTIONS => Mailer #
RewriteRule ^hk/ajax/func/mailer(|/)$ housekeeping/assets/dynamics/functions/functions/mailer.php

# AP: JS FUNC, MAILING #
RewriteRule ^hk/ajax/mail/dc(|/)$ housekeeping/assets/dynamics/functions/mail/deliverycosts.php
RewriteRule ^hk/ajax/mail/custom(|/)$ housekeeping/assets/dynamics/functions/mail/custom.php