// border radius
$border-radius-classes: 0;
@while $border-radius-classes <= 100 {
  .rd#{$border-radius-classes} {
    border-radius: #{$border-radius-classes}px;
  }
  .rdtop#{$border-radius-classes} {
    border-radius: #{$border-radius-classes}px #{$border-radius-classes}px 0 0;
  }
  .rdbottom#{$border-radius-classes} {
    border-radius: 0 0 #{$border-radius-classes}px #{$border-radius-classes}px;
  }
  .rdright#{$border-radius-classes} {
    border-radius: 0 #{$border-radius-classes}px #{$border-radius-classes}px 0;
  }
  .rdleft#{$border-radius-classes} {
    border-radius: #{$border-radius-classes}px 0 0 #{$border-radius-classes}px;
  }

  $border-radius-classes: $border-radius-classes + 2;
}

// margin, padding
$margin-size-classes: 0;
@while $margin-size-classes <= 200 {
  .mt#{$margin-size-classes} {
    margin-top: #{$margin-size-classes}px;
  }
  .mb#{$margin-size-classes} {
    margin-bottom: #{$margin-size-classes}px;
  }
  .mr#{$margin-size-classes} {
    margin-right: #{$margin-size-classes}px;
  }
  .ml#{$margin-size-classes} {
    margin-left: #{$margin-size-classes}px;
  }

  .p#{$margin-size-classes} {
    padding: #{$margin-size-classes}px;
  }
  .pb#{$margin-size-classes} {
    padding-bottom: #{$margin-size-classes}px;
  }
  .pt#{$margin-size-classes} {
    padding-top: #{$margin-size-classes}px;
  }
  .ph#{$margin-size-classes} {
    padding-left: #{$margin-size-classes}px;
    padding-right: #{$margin-size-classes}px;
  }
  .pv#{$margin-size-classes} {
    padding-top: #{$margin-size-classes}px;
    padding-bottom: #{$margin-size-classes}px;
  }

  $margin-size-classes: $margin-size-classes + 2;
}

// backgrounds
.linear-background {
  &.purple {
    background: rgb(166, 88, 246);
    background: -webkit-linear-gradient(
      left,
      rgba(166, 88, 246, 1) 0%,
      rgba(228, 79, 213, 1) 100%
    );
    background: -o-linear-gradient(
      left,
      rgba(166, 88, 246, 1) 0%,
      rgba(228, 79, 213, 1) 100%
    );
    background: linear-gradient(
      to right,
      rgba(166, 88, 246, 1) 0%,
      rgba(228, 79, 213, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a658f6",endColorstr="#e44fd5",GradientType=1);
  }

  &.orange-white {
    background: rgb(252, 219, 217);
    background: -moz-linear-gradient(
      90deg,
      rgba(252, 219, 217, 1) 0%,
      rgba(255, 255, 255, 1) 29%
    );
    background: -webkit-linear-gradient(
      90deg,
      rgba(252, 219, 217, 1) 0%,
      rgba(255, 255, 255, 1) 29%
    );
    background: linear-gradient(
      90deg,
      rgba(252, 219, 217, 1) 0%,
      rgba(255, 255, 255, 1) 29%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fcdbd9",endColorstr="#ffffff",GradientType=1);
  }

  &.grey {
    background: rgb(245, 239, 252);
    background: linear-gradient(
      90deg,
      rgba(245, 239, 252, 1) 0%,
      rgba(246, 242, 254, 1) 100%
    );
  }

  &.white-purple {
    background: rgb(216, 229, 253);
    background: -moz-linear-gradient(
      45deg,
      rgba(216, 229, 253, 1) 0%,
      rgba(240, 229, 248, 1) 100%
    );
    background: -webkit-linear-gradient(
      45deg,
      rgba(216, 229, 253, 1) 0%,
      rgba(240, 229, 248, 1) 100%
    );
    background: linear-gradient(
      45deg,
      rgba(216, 229, 253, 1) 0%,
      rgba(240, 229, 248, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d8e5fd",endColorstr="#f0e5f8",GradientType=1);
  }

  &.light-purple {
    background: linear-gradient(90deg, #f5effc 0%, #f6f2fe 100%);
  }
}

// flexbox
.flcenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.distance {
  height: 77px;
  width: 100%;
}

.page-overlay {
  z-index: 100000;
  visibility: hidden;
  opacity: 0;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(38, 49, 55, 0.74);
  transition: visibility 0s linear, opacity 0.2s ease-out;
  -webkit-transition: visibility 0s linear, opacity 0.2s ease-out;
}
.vsbltyhdn {
  visibility: hidden !important;
}
.grayline {
  border-bottom: 1px solid #e1e1e1;
  height: 1px;
}
.wrap {
  word-wrap: break-word;
}
.ovhid {
  overflow: hidden;
}
.veralmid {
  vertical-align: middle;
}

.almid {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.almid-w {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.almid-h {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.lt {
  float: left;
}
.rt {
  float: right;
}
.cl {
  clear: both;
}
.timeago {
  font-size: 0.8em;
  color: #9f9f9f;
}

/* POP UP WINDOWS */
.mkvsbl {
  visibility: visible !important;
  opacity: 1 !important;
  transform: scale(1, 1) !important;
}

/* SHADOWS */
.mshd-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.mshd-2 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.mshd-3 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.mshd-4 {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.mshd-5 {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
/* SHADOWS > LEFT */
.mshd-l-4 {
  box-shadow: -14px 0 28px rgba(0, 0, 0, 0.25), -10px 0 18px rgba(0, 0, 0, 0.22);
}

// dashboard
.hd-shd {
  box-shadow: 0 0 24px 1px rgba(0, 0, 0, 0.06);
}

.hd-shd-2 {
  box-shadow: 0 0 24px 6px rgba(0, 0, 0, 0.16);
}

/* BACKGROUND-COLORS */
.bgf {
  background: white;
}
.bg0 {
  background: black;
}
.bg3 {
  background: #333;
}
.bgpink {
  background: #e81e62;
}
.bgred {
  background: #f34236;
}
.bgindigo {
  background: #3e50b4;
}
.bgbluegrey {
  background: #5f7c8a;
}
.bgteal {
  background: #009587;
}
.bggreen {
  background: #4bae4f;
}
.bglightgreen {
  background: #8ac249;
}
.bgyellow {
  background: #feea3b;
}
.bglime {
  background: #ccdb39;
}
.bgorange {
  background: #fe9700;
}
.bgdeeporange {
  background: #fe5622;
}
.bgpurple {
  background: #9b27af;
}
.bgdeeppurple {
  background: #663ab6;
}

/* HEIGHTS & WIDTHS */
.h100 {
  height: 100%;
}
.h50 {
  height: 50%;
}
.h0 {
  height: 0px;
}

.w100 {
  width: 100%;
}
.w95 {
  width: 95%;
}
.w82 {
  width: 82%;
}
.w78 {
  width: 78%;
}
.w75 {
  width: 75%;
}
.w72 {
  width: 72%;
}
.w70 {
  width: 70%;
}
.w68 {
  width: 68%;
}
.w65 {
  width: 65%;
}
.w60 {
  width: 60%;
}
.w58 {
  width: 58%;
}
.w55 {
  width: 55%;
}
.w50 {
  width: 50%;
}
.w48 {
  width: 48%;
}
.w38 {
  width: 38%;
}
.w34 {
  width: 34%;
}
.w32 {
  width: 32%;
}
.w31 {
  width: 31%;
}
.w30 {
  width: 30%;
}
.w29 {
  width: 29%;
}
.w28 {
  width: 28%;
}
.w24 {
  width: 24%;
}
.w23 {
  width: 23%;
}
.w22 {
  width: 22%;
}
.w18 {
  width: 18%;
}

.hw1 {
  height: 1px;
  width: 1px;
}
.hw42 {
  height: 42px;
  width: 42px;
}
.hw48 {
  height: 48px;
  width: 48px;
}
.hw54 {
  height: 54px;
  width: 54px;
}
.hw64 {
  height: 64px;
  width: 64px;
}
.hw72 {
  height: 72px;
  width: 72px;
}

/* DISPLAY PROPERTIES */
.disib {
  display: inline-block;
}
.disb {
  display: block;
}
.disi {
  display: inline;
}
.disn {
  display: none;
}
.disfl {
  display: flex;
}

/* FLEX PROPERTIES */
.fldirrow {
  flex-direction: row;
}
.fldircol {
  flex-direction: column;
}
.fldircolrev {
  flex-direction: column-reverse;
}
.jstfycc {
  justify-content: center;
}
.jstfycflstart {
  justify-content: flex-start;
}
.jstfycflend {
  justify-content: flex-end;
}
.alitc {
  align-items: center;
}

/* ABSOLUTE POSITIONS */
.t0 {
  top: 0;
}
.r0 {
  right: 0;
}
.l0 {
  left: 0;
}
.b0 {
  bottom: 0;
}

/* FONT SIZES */
.fs0 {
  font-size: 0px;
}
.fs2 {
  font-size: 2px;
}
.fs4 {
  font-size: 4px;
}
.fs6 {
  font-size: 6px;
}
.fs8 {
  font-size: 8px;
}
.fs10 {
  font-size: 10px;
}
.fs12 {
  font-size: 12px;
}
.fs14 {
  font-size: 14px;
}
.fs16 {
  font-size: 16px;
}
.fs18 {
  font-size: 18px;
}
.fs20 {
  font-size: 20px;
}
.fs22 {
  font-size: 22px;
}
.fs24 {
  font-size: 24px;
}
.fs26 {
  font-size: 26px;
}
.fs28 {
  font-size: 28px;
}
.fs30 {
  font-size: 30px;
}
.fs32 {
  font-size: 32px;
}
.fs34 {
  font-size: 34px;
}
.fs36 {
  font-size: 36px;
}
.fs38 {
  font-size: 38px;
}
.fs40 {
  font-size: 40px;
}
.fs42 {
  font-size: 42px;
}

/* FONT WEIGHTS */
.fw1 {
  font-weight: 100;
}
.fw2 {
  font-weight: 200;
}
.fw3 {
  font-weight: 300;
}
.fw4 {
  font-weight: 400;
}
.fw5 {
  font-weight: 500;
}
.fw6 {
  font-weight: 600;
}
.fw7 {
  font-weight: 700;
}

/* FONT STYLES */
.fsti {
  font-style: italic;
}
.fsto {
  font-style: oblique;
}
.fstn {
  font-style: normal;
}

/* COLORS */
.c0 {
  color: #000;
}
.c1 {
  color: #111;
}
.c2 {
  color: #222;
}
.c3 {
  color: #333;
}
.c4 {
  color: #444;
}
.c5 {
  color: #555;
}
.c6 {
  color: #666;
}
.c7 {
  color: #777;
}
.c8 {
  color: #888;
}
.c9 {
  color: #999;
}
.cf {
  color: #fff;
}
.cb1 {
  color: #b1b1b1;
}
.cpink {
  color: #e81e62;
}
.cblue {
  color: #2195f2;
}
.cred {
  color: #d32f2f;
}
.cgreen {
  color: #4caf50;
}

/* POSITIONING */
.posabs {
  position: absolute;
}
.posrel {
  position: relative;
}
.postat {
  position: static;
}
.posfix {
  position: fixed;
}

/* Z INDEXES */
.z-1 {
  z-index: -1;
}
.z1 {
  z-index: -1;
}
.z2 {
  z-index: 2;
}
.z3 {
  z-index: 3;
}
.z4 {
  z-index: 4;
}
.z5 {
  z-index: 5;
}
.z6 {
  z-index: 6;
}
.z7 {
  z-index: 7;
}
.z8 {
  z-index: 8;
}
.z9 {
  z-index: 9;
}
.z10 {
  z-index: 10;
}

/* LINE HEIGHTS */
.lh12 {
  line-height: 12px;
}
.lh14 {
  line-height: 14px;
}
.lh16 {
  line-height: 18px;
}
.lh18 {
  line-height: 18px;
}
.lh20 {
  line-height: 20px;
}
.lh22 {
  line-height: 22px;
}
.lh24 {
  line-height: 24px;
}
.lh26 {
  line-height: 26px;
}
.lh28 {
  line-height: 28px;
}
.lh30 {
  line-height: 30px;
}
.lh32 {
  line-height: 32px;
}
.lh34 {
  line-height: 34px;
}
.lh36 {
  line-height: 36px;
}
.lh38 {
  line-height: 38px;
}
.lh42 {
  line-height: 42px;
}
.lh48 {
  line-height: 48px;
}

/* CURSORS */
.curpo {
  cursor: pointer;
}

/* TRIM TEXT */
.trim100 {
  max-width: 100px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
}
.trimfull {
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
}

/* TEXT SHADOWS */
.tsf {
  text-shadow: 0 0 12px white;
}
.ts0 {
  text-shadow: 0 0 12px rgba(0, 0, 0, 0.48);
}

/* TEXT ALIGNS */
.tac {
  text-align: center;
}
.tar {
  text-align: right;
}
.tal {
  text-align: left;
}

/* TEXT TRANSFORMS */
.ttup {
  text-transform: uppercase;
}
.ttlow {
  text-transform: lowercase;
}

/* OPACITIES */
.opa0 {
  opacity: 0;
}
.opa01 {
  opacity: 0.1;
}
.opa02 {
  opacity: 0.2;
}
.opa03 {
  opacity: 0.3;
}
.opa04 {
  opacity: 0.4;
}
.opa05 {
  opacity: 0.5;
}
.opa03 {
  opacity: 0.6;
}
.opa07 {
  opacity: 0.7;
}
.opa08 {
  opacity: 0.8;
}
.opa09 {
  opacity: 0.9;
}
.opa1 {
  opacity: 1;
}

/* VISIBILITIES */
.vishid {
  visibility: visible;
}
.visvis {
  visibility: visible;
}

/* BORDERS RADIUS */
.rd2 {
  border-radius: 2px;
}
.rd3 {
  border-radius: 3px;
}
.rd4 {
  border-radius: 4px;
}
.rd5 {
  border-radius: 5px;
}
.rdcir {
  border-radius: 50%;
}

.rounded-top {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-top-right-radius: 5px;
  -moz-border-top-left-radius: 5px;
  -o-border-top-right-radius: 5px;
  -o-border-top-left-radius: 5px;
  -khtml-border-top-left-radius: 5px;
  -khtml-border-top-right-radius: 5px;
}
.rounded-top-min {
  border-radius: 3px 3px 0 0;
}
.rounded-bottom {
  border-radius: 0 0 5px 5px;
}
.rounded-bottom-min {
  border-radius: 0 0 3px 3px;
}
.rounded-right {
  border-radius: 0 5px 5px 0;
}
.rounded-right-min {
  border-radius: 0 3px 3px 0;
}
.rounded-left {
  border-radius: 5px 0 0 5px;
}
.rounded-min {
  border-radius: 3px;
}

/* TRANSITIONS */
.tran-visibility {
  transition: visibility 0 linear;
  -webkit-transition: visibility 0 linear;
  -moz-transition: visibility 0 linear;
  -ms-transition: visibility 0 linear;
  -o-transition: visibility 0 linear;
}
.tran-opacity {
  transition: opacity 0.2s ease;
  -webkit-transition: opacity 0.2s ease;
  -moz-transition: opacity 0.2s ease;
  -ms-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
}
.tran-background {
  transition: background 0.2s ease;
  -webkit-transition: background 0.2s ease;
  -moz-transition: background 0.2s ease;
  -ms-transition: background 0.2s ease;
  -o-transition: background 0.2s ease;
}
.tran-color {
  transition: color 0.2s ease;
  -webkit-transition: color 0.2s ease;
  -moz-transition: color 0.2s ease;
  -ms-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
}
.tran-boxshd {
  transition: box-shadow 0.2s ease;
  -webkit-transition: box-shadow 0.2s ease;
  -moz-transition: box-shadow 0.2s ease;
  -ms-transition: box-shadow 0.2s ease;
  -o-transition: box-shadow 0.2s ease;
}
.tran-border {
  transition: border 0.2s ease;
  -webkit-transition: border 0.2s ease;
  -moz-transition: border 0.2s ease;
  -ms-transition: border 0.2s ease;
  -o-transition: border 0.2s ease;
}
.tran-height {
  transition: height 0.2s ease;
  -webkit-transition: height 0.2s ease;
  -moz-transition: height 0.2s ease;
  -ms-transition: height 0.2s ease;
  -o-transition: height 0.2s ease;
}
.tran-top {
  transition: top 0.2s ease;
  -webkit-transition: top 0.2s ease;
  -moz-transition: top 0.2s ease;
  -ms-transition: top 0.2s ease;
  -o-transition: top 0.2s ease;
}
.tran-bottom {
  transition: bottom 0.2s ease;
  -webkit-transition: bottom 0.2s ease;
  -moz-transition: bottom 0.2s ease;
  -ms-transition: bottom 0.2s ease;
  -o-transition: bottom 0.2s ease;
}
.tran-all {
  transition: all 0.1s linear;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
}
.tran-all-05s {
  transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
}
.tran-all-015s {
  transition: all 0.15s linear;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  -ms-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
}
.tran-all-cubic {
  transition: all 0.4s cubic-bezier(0.1, 0.82, 0.25, 1);
  -webkit-transition: all 0.4s cubic-bezier(0.1, 0.82, 0.25, 1);
  -moz-transition: all 0.4s cubic-bezier(0.1, 0.82, 0.25, 1);
  -ms-transition: all 0.4s cubic-bezier(0.1, 0.82, 0.25, 1);
  -o-transition: all 0.4s cubic-bezier(0.1, 0.82, 0.25, 1);
}
.tran-all-cubic-1s {
  transition: all 1s cubic-bezier(0.1, 0.82, 0.25, 1);
  -webkit-transition: all 1s cubic-bezier(0.1, 0.82, 0.25, 1);
  -moz-transition: all 1s cubic-bezier(0.1, 0.82, 0.25, 1);
  -ms-transition: all 1s cubic-bezier(0.1, 0.82, 0.25, 1);
  -o-transition: all 1s cubic-bezier(0.1, 0.82, 0.25, 1);
}
