.papel-needle {
  background: url(https://statics.meintatenreich.de/img/svg/papel-needle.svg)
    center no-repeat;
  background-size: cover;
  position: relative;
}
.papel-needle .justify {
  padding: 50px 40px 0 10px;
  transform: rotate(-12deg);
  max-height: 100%;
}

.papel-klammer {
  background: url(https://statics.meintatenreich.de/img/svg/papel-klammer.svg)
    center no-repeat;
  background-size: cover;
  position: relative;
}
.papel-klammer .justify {
  padding: 50px 32px 0 18px;
  max-height: 100%;
}

.papel-rgbz {
  background: url(https://statics.meintatenreich.de/img/svg/ringbuchzettel.svg)
    center no-repeat;
  background-size: cover;
  position: relative;
}
.papel-rgbz .justify {
  padding: 38px 20px 20px;
  max-height: 100%;
}

.btn-big-shd-r {
  background: url(https://statics.meintatenreich.de/img/svg/btn-b-shd-r.svg)
    center no-repeat;
  background-size: cover;
  position: relative;
}
.btn-big-shd-r .justify {
  padding: 24px;
  max-height: 100%;
}

.eyes2 {
  background: url(https://statics.meintatenreich.de/img/svg/eyes2.svg) center
    no-repeat;
  background-size: cover;
}
