.hide {
  opacity: 0;
  visibility: hidden;
  transition: all 0.1s linear;
}

.product-overview {
  width: 100%;

  .product-name {
    width: calc(100% - 12px);

    p {
      color: #333;
      font-size: 1.4em;
      line-height: 1.4em;
    }
  }

  .pricing-overflow {
    position: absolute;
    right: 140px;
    top: 82px;
    z-index: 12;
    transition: all 0.1s ease-out;

    .price {
      height: 210px;
      width: 210px;
      text-align: center;
      font-family: "Indie Flower", cursive;

      p {
        &:first-of-type {
          font-size: 1.6em;
          padding-top: 24px;
          margin-bottom: 0;
        }

        &:nth-of-type(2) {
          font-size: 2.2em;
          color: #c99759;
          font-weight: 700;
          margin-top: -12px;
        }
      }
    }

    .pv-buttons {
      padding-right: 8px;
      position: relative;

      .button {
        line-height: 42px;
        height: 42px;
        border-radius: 3px;
        padding: 0 12px;
        cursor: pointer;

        &.black {
          background: #383838;
          color: white;
        }

        &.white {
          background: white;
          line-height: 40px;
          height: 40px;
          color: #b88b56;
          border: 1px solid #b88b56;
        }

        &.pink {
          background: #e81e62;
          color: white;
          border: 1px solid #b88b56;
        }

        &.brown {
          background: #b88b56;
          color: white;
        }

        &:hover {
          opacity: 0.8;
        }

        &:active {
          opacity: 0.6;
        }

        &[disabled="disabled"] {
          opacity: 0.4;
          cursor: default;

          &:hover {
            opacity: 0.4;
          }

          &:active {
            opacity: 0.4;
          }
        }
      }
    }
  }

  .action-card {
    float: right;
    width: calc(100% - 538px);
    margin-left: 24px;
    height: 368px;
    position: relative;

    .desc {
      width: calc(100% - 232px);
      height: 100%;
      overflow: hidden;
      position: relative;

      .more {
        bottom: 0;
        left: 0;
        width: 100%;
        position: absolute;
        background: rgba(253, 251, 253, 0);
        background: -moz-linear-gradient(
          top,
          rgba(253, 251, 253, 0) 0%,
          rgba(253, 251, 253, 1) 85%,
          rgba(253, 251, 253, 1) 100%
        );
        background: -webkit-gradient(
          left top,
          left bottom,
          color-stop(0%, rgba(253, 251, 253, 0)),
          color-stop(85%, rgba(253, 251, 253, 1)),
          color-stop(100%, rgba(253, 251, 253, 1))
        );
        background: -webkit-linear-gradient(
          top,
          rgba(253, 251, 253, 0) 0%,
          rgba(253, 251, 253, 1) 85%,
          rgba(253, 251, 253, 1) 100%
        );
        background: -o-linear-gradient(
          top,
          rgba(253, 251, 253, 0) 0%,
          rgba(253, 251, 253, 1) 85%,
          rgba(253, 251, 253, 1) 100%
        );
        background: -ms-linear-gradient(
          top,
          rgba(253, 251, 253, 0) 0%,
          rgba(253, 251, 253, 1) 85%,
          rgba(253, 251, 253, 1) 100%
        );
        background: linear-gradient(
          to bottom,
          rgba(253, 251, 253, 0) 0%,
          rgba(253, 251, 253, 1) 85%,
          rgba(253, 251, 253, 1) 100%
        );
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfbfd', endColorstr='#fdfbfd', GradientType=0 );
        cursor: pointer;

        p {
          color: #2195f2;
          font-size: 1.2em;
          text-align: center;
          padding: 24px 0 0;
        }
      }
    }

    p {
      font-size: 1em;
      color: #999;
    }
  }

  .po-images-outer {
    position: relative;
    overflow: visible;
    float: left;

    .all-images {
      margin-right: 12px;

      ul {
        list-style: none;

        li {
          margin-bottom: 8px;
          background: white;
          border-radius: 5px;
          cursor: pointer;
          border: 2px solid white;
          overflow: hidden;

          img {
            height: 40px;
            width: 40px;
            vertical-align: middle;
          }

          &.selected {
            border: 2px solid #2195f2;
          }

          &:hover {
            opacity: 0.8;
          }

          &:active {
            opacity: 0.6;
          }
        }
      }
    }

    .gallery-image {
      background: rgba(0, 0, 0, 0.04);
      height: 368px;
      width: 440px;
      position: relative;
      overflow: hidden;
      cursor: zoom-in;

      img {
        display: block;
        position: relative;
        max-height: calc(100% - 2px);
        max-width: calc(100% - 2px);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: auto;
      }
    }
  }
}

/* PRODUCT CATEGORIES */
.product-overview .product-categories {
  padding: 24px 0 0 6px;
}
.product-overview .product-categories ul li {
  padding: 0 24px;
  line-height: 38px;
  height: 38px;
  border-radius: 3px;
}

/* COMMENT SECTION */
.product-overview .hd {
  color: #b3926f;
  font-size: 1.8em;
  text-align: center;
}
.product-overview .c-hd {
  padding: 0 32px 12px 0;
}
.product-overview .all-comments {
  margin-top: 12px;
}
.product-overview .all-comments .comment {
  position: relative;
  padding: 12px;
  margin-bottom: 12px;
  background: white;
  border-radius: 3px;
}
.product-overview .all-comments .comment .user-outer .uo-image {
  height: 42px;
  width: 42px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}
.product-overview .all-comments .comment .user-outer .uo-image img {
  height: 100%;
  width: 100%;
}
.product-overview .all-comments .comment .user-outer .uo-name {
  line-height: 42px;
  margin-left: 8px;
  color: #383838;
  width: calc(100% - 2 * 70px);
}
.product-overview .all-comments .comment .user-outer .uo-name p {
  font-family: "Indie Flower", cursive;
  font-size: 1.4em;
}
.product-overview .all-comments .comment .user-outer .uo-date {
  white-space: nowrap;
  text-align: right;
  line-height: 42px;
  padding-right: 12px;
}
.product-overview .all-comments .comment .the-comment {
  padding: 0 8px 0 8px;
}
.product-overview .all-comments .comment .the-comment p {
  font-weight: 200;
}
.product-overview .all-comments .comment .action-outer {
  margin-top: 12px;
}
.product-overview .all-comments .comment .action-outer .button {
  line-height: 22px;
  height: 22px;
  padding: 0 12px;
  border-radius: 3px;
  font-size: 1em;
  float: left;
  margin-right: 6px;
  cursor: pointer;
}
.product-overview .all-comments .comment .action-outer .button:hover {
  opacity: 0.8;
}
.product-overview .all-comments .comment .action-outer .button:active {
  opacity: 0.6;
}
.product-overview .all-comments .comment .action-outer .button.blue {
  background: #2195f2;
  color: white;
}
.product-overview .all-comments .comment .action-outer .button.white {
  background: #fff;
  color: #999;
}

/* COMMENT SECTION */
.product-overview .po-comments {
  border-top: 2px dashed rgba(0, 0, 0, 0.12);
  margin-top: 24px;
  padding-top: 32px;
}
.product-overview .po-comments .po-c-inr {
  padding: 0 6px;
}

/* MY RATING */
.product-overview .po-comments .po-c-inr .my-rate {
  border-radius: 3px;
  padding: 0 24px 24px;
}
.product-overview .po-comments .po-c-inr .my-rate .stars-outer .star {
  background: url(https://statics.meintatenreich.de/img/elem/star-empty.png)
    center no-repeat;
  background-size: cover;
  height: 38px;
  width: 38px;
  opacity: 0;
  visibility: hidden;
}
.product-overview .po-comments .po-c-inr .my-rate .stars-outer .star img {
  opacity: 0;
  visibility: hidden;
  height: 1px;
  width: 1px;
}
.product-overview .po-comments .po-c-inr .my-rate .stars-outer .star.hit {
  background: url(https://statics.meintatenreich.de/img/elem/star-full.png)
    center no-repeat;
  background-size: cover;
}

.product-overview .po-comments .po-c-inr .my-rate .comment-outer {
  width: 80%;
  padding: 24px;
  margin: 24px auto 0;
  background: white;
}
.product-overview
  .po-comments
  .po-c-inr
  .my-rate
  .comment-outer
  .user-outer
  .uo-image {
  height: 42px;
  width: 42px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}
.product-overview
  .po-comments
  .po-c-inr
  .my-rate
  .comment-outer
  .user-outer
  .uo-image
  img {
  height: 100%;
  width: 100%;
}
.product-overview
  .po-comments
  .po-c-inr
  .my-rate
  .comment-outer
  .user-outer
  .uo-name {
  line-height: 42px;
  margin-left: 8px;
  color: #383838;
  width: calc(100% - 2 * 70px);
}
.product-overview
  .po-comments
  .po-c-inr
  .my-rate
  .comment-outer
  .user-outer
  .uo-name
  p {
  font-family: "Indie Flower", cursive;
  font-size: 1.4em;
}
.product-overview
  .po-comments
  .po-c-inr
  .my-rate
  .comment-outer
  .user-outer
  .uo-date {
  white-space: nowrap;
  text-align: right;
  line-height: 42px;
  padding-right: 12px;
}
.product-overview .po-comments .po-c-inr .my-rate .comment-outer .the-comment {
  padding: 0 8px 0 8px;
}
.product-overview
  .po-comments
  .po-c-inr
  .my-rate
  .comment-outer
  .the-comment
  p {
  font-weight: 200;
}

/* SIMILIAR PRODUCTS */
.product-overview .similiar-products {
  margin-top: 32px;
  padding-top: 38px;
  border-top: 2px dashed rgba(0, 0, 0, 0.24);
}
.product-overview .similiar-products .sp-inr .sp-hd {
  color: #b3926f;
  font-size: 1.8em;
  text-align: center;
}
.product-overview .similiar-products .sp-inr .sp-products {
  margin-top: 12px;
}
.product-overview .similiar-products .sp-inr .sp-products .sp-none {
  margin-bottom: 82px;
  margin-top: 82px;
  text-align: center;
}
.product-overview
  .similiar-products
  .sp-inr
  .sp-products
  .sp-none
  p:first-of-type
  img {
  height: 48px;
}
.product-overview
  .similiar-products
  .sp-inr
  .sp-products
  .sp-none
  p:nth-of-type(2) {
  font-size: 1.2em;
  color: #999;
  line-height: 42px;
  margin-left: 12px;
}
