// productview
@media screen and (max-width: 1200px), screen and (max-height: 900px) {
  .main-overflow-scroll {
    margin-top: 24px;
    height: calc(var(--main-content-height) - 24px);

    &.ph42 {
      padding: 0 !important;
    }

    &.lt {
      width: 75%;
    }

    &.rt {
      width: 75%;
    }
  }

  .outer {
    .inr {
      padding: 0 70px;
    }
  }

  .product-overview {
    .product-name {
      width: calc(100% - 190px);
    }

    .action-card {
      width: calc(100% - 278px);
      position: relative;
      height: 280px;
      margin-left: 0px;

      .rt {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translateY(-50%, -50%);
        margin-top: -140px;
        margin-left: 160px;
      }

      .desc {
        width: 254px;
      }
    }

    .pricing-overflow {
      right: 100px;
      top: 24px;

      .price {
        height: 180px;
        width: 180px;

        p {
          &:first-of-type {
            font-size: 1.2em;
            font-weight: 700;
          }

          &:nth-of-type(2) {
            font-size: 2em;
          }
        }

        .justify {
          padding-top: 42px;
          padding-left: 38px;
        }
      }
    }

    .po-images-outer {
      .image-preview--small {
        li {
          height: 44px;
          width: 44px;
        }
      }

      .gallery-image {
        height: 280px;
        width: 200px;
      }
    }
  }
}
