@import "/assets/web/css/compiled/normalize.css";
@import "dashbrd.css";
@import "elements.css";
@import "manage.products.css";
@import "/assets/web/css/compiled/classes.css";
@import "/assets/web/css/compiled/animations.css";
@import "/assets/web/css/compiled/tipr.css";

@media screen and (max-width: 1580px) {
  content-card.tripple {
    width: calc(33.33% - 14px);
  }
}

@media screen and (max-width: 1200px) {
  content-card.tripple {
    width: calc(50% - 14px);
  }
}

@media screen and (max-width: 700px) {
  content-card.tripple {
    width: calc(100%);
    margin: 0px;
    margin-bottom: 24px;
  }
}
