@import "../normalize.scss";
@import "dashbrd.main.scss";
@import "dashbrd.elements.scss";
@import "dashbrd.products.scss";
@import "../classes.scss";
@import "../animations.scss";
@import "../tipr.scss";

@media screen and (max-width: 1580px) {
  content-card {
    &.quad {
      width: calc(33.33% - 14px);
    }
  }
}

@media screen and (max-width: 1400px) {
  content-card {
    &.quad {
      width: calc(50% - 14px);
    }
  }
}

@media screen and (max-width: 800px) {
  content-card {
    &.tripple {
      width: calc(50% - 14px);
    }
  }
}

@media screen and (max-width: 700px) {
  content-card {
    &.quad {
      width: calc(100%);
      margin: 0px;
      margin-bottom: 24px;
    }
  }
}

@media screen and (max-width: 550px) {
  content-card {
    &.tripple {
      width: calc(100%);
      margin: 0px;
      margin-bottom: 24px;
    }
  }
}
