@import "../classes.scss";

// card styles
content-card {
  .courses {
    @extend .tran-all;

    &:hover {
      @extend .hd-shd-2;
    }

    [data-element="admin-select"] {
      height: 42px;
      width: 42px;
      position: relative;
      overflow: hdden;
      padding: 0;

      .outline {
        color: #333;
        border: 0;
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;

        @extend .disfl, .flcenter, .tran-all;

        .icon {
          @extend .almid-w, .posabs;
        }

        &:hover {
          background: rgba(0, 0, 0, 0.12);
        }
      }
    }
  }

  @extend .tran-all-cubic;

  &.courses {
    .course-status,
    .course-dates {
      @extend .tran-all-cubic;
    }

    &.activated {
      .course-status {
        color: green;
      }

      .course-dates {
        margin-top: 24px;
      }

      .bottom {
        background: #e8f5e9;
        border-radius: 0 0 18px 18px;
      }
    }

    &.deactivated {
      .course-status {
        color: rgba(0, 0, 0, 0.08);
      }

      .course-dates {
        overflow: hidden;
        visibility: hidden;
        height: 0px;
        opacity: 0;
        margin-top: 0px;
      }

      .bottom {
        background: rgba(0, 0, 0, 0.04);
        border-radius: 0 0 18px 18px;
      }
    }
  }

  .info {
    background: rgba(0, 0, 0, 0.12);
    padding: 0 12px;
    line-height: 2.8em;

    @extend .rd24, .posrel;

    .icon {
      @extend .almid-w, .posabs, .mt6;
    }

    .text {
      @extend .ml32;
    }
  }
}

.fast-add {
  width: 42px;
  height: 42px;
  position: relative;
  margin-left: 24px;

  .fa-inr {
    height: 100%;
    width: 100%;
    line-height: 56px;
    border-radius: 50%;
    border: 0;
    outline: 0;
    background: var(--color-lila);
    color: white;
    cursor: pointer;
    transition: all 0.1s linear;

    @extend .mshd-1;

    &:hover {
      @extend .mshd-2;
    }

    &:focus {
      @extend .mshd-1;
    }

    p {
      text-align: center;
    }
  }
}

.delete {
  height: 42px;
  width: 42px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 24px;

  p {
    text-align: center;
    color: #333;
    line-height: 53px;
  }

  &:hover {
    background: rgba(0, 0, 0, 0.24);
  }
}
